.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: white;
    color: #242222;
    font-size: 1em;
    font-family: "Source Sans Pro", sans-serif;

    input {
        font-family: "Source Sans Pro", sans-serif;
    }

    .auth-form-box {
        width: 35%;
    }

    .logo-text {
        color: #242222;
        display: block;
        width: 50%;
        margin: 50px auto;
    }

    .auth-title {
        font-size: 2vw;
        margin-bottom: 30px;
        font-weight: 800;
    }

    .auth-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 25px 0;
    }

    .short-auth-section {
        max-width: 250px;
    }

    .auth-section label {
        font-size: 1.3vw;
        font-weight: 800;
        margin: 10px 0;
    }

    .auth-input-field {
        background-color: transparent;
        color: #242222;
        font-family: "Lato", sans-serif;
        font-size: 1.2vw;
        border: 0;
        height: 40px;
        padding-bottom: 5px;

        border-bottom: 2px solid #242222;
        outline: none;
        margin-bottom: 25px;
    }

    .short-auth-input-field {
        width: 75%;
    }

    .forgot-password {
        font-weight: 400;
        color: #5d1ed7;
        margin-bottom: 25px;
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .remember {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        width: 30%;
    }

    .remember label {
        line-height: normal;
    }

    .remember input {
        margin: 0;
        background-color: transparent;
    }


    hr {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #707070;
    }
    .auth-separation {
        margin: 25px 0;
    }
    .auth-link-title {
        font-size: 1em;
        margin: 20px;
        font-weight: 400;
        text-align: center;
        color: #242222;
    }
    .auth-link-btn {
        display: block;
        text-align: center;
        width: 100%;
        border: 2px solid #5d1ed7;
        color: #5d1ed7;
        font-weight: 700;
        border-radius: 100px;
        text-decoration: none;
        padding: 15px 0;
        text-transform: uppercase;
        margin-bottom: 50px;

        transition: 0.2s ease-in-out;
    }

    .auth-link-btn:hover {
        background-color: #5d1ed7;
        color: #ffffff;
        transition: 0.2s ease-in-out;
    }

    @media (prefers-color-scheme: dark) {
        .auth-container {
            background-color: #242222;
            color: white;

            .logo-text {
                color: white;
            }

            .auth-input-field {
                color: white;
                border-bottom: 1px solid white;
            }

            .auth-link-btn:hover {
                color: #242222;
            }

            .submit-button {
                color: black;
                background-color: white;
            }

            .submit-button:hover {
                background-color: rgb(220, 220, 220);
            }

            .auth-link-title {
                color: #dfdfdf;
            }

            .auth-link-btn:hover {
                color: #242222;
            }
        }
    }

    @media only screen and (max-width: 500px) {
        .name-row {
            flex-direction: column;
        }
    }

    @media only screen and (max-width: 450px) {
        .auth-form-box {
            padding: 0;
            border-radius: 0;
            box-shadow: none;
            background: none;
        }
    }
}
