body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #161537;
    font-size: 0.9em;
}

.connexion-profile-logo {
    --ggs: 3;
    margin-bottom: 25px;
}

.auth-container {
    background-color: white;
    padding: 25;
    border-radius: 10px;
    box-shadow: 0 0 25px rgb(175, 175, 175);
}

.auth-title {
    font-size: 1.75em;
    padding-bottom: 5px;
    border-bottom: 2px #161537 solid;
    width: 150px;
    margin-bottom: 25px;
}

label {
    height: fit-content;
}

.auth-form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 0;
    border-bottom: 2px solid #161537;
    width: 350px;
    height: 40px;
    margin-bottom: 25px;
}

.short {
    width: 170px;
}
.auth-field {
    width: 300px;
    height: 40px;
    border: 0;
    outline: none;
    background-color: transparent;
}

.register-auth-field {
    width: 125px;
    height: 40px;
    border: 0;
    outline: none;
    background-color: transparent;
}

.remember {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
}

.remember input {
    width: 12px;
    height: 12px;
}

.form-button {
    display: flex;
    justify-content: center;
}

.submit-button {
    font-weight: 700;
    font-size: 1.25em;
    width: 200px;
    color: white;
    border: 0;
    background-image: linear-gradient(90deg, #00ce3c 0%, #00ffb3 50%);
    transition: 0.5s;
    background-size: 200% auto;
    text-align: center;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    padding: 15px 10px;
}

.submit-button:hover {
    background-position: right center;
    text-decoration: none;
}

ul {
    padding: 0;
}
.error-message {
    list-style: none;
    padding: 0;
    color: red;
}

.red-input {
    border-color: red;
}

.name-row {
    display: flex;
    justify-content: space-between;
}
