.page-student-home-home {
    .summary-container {
        width: 100%;
        margin: 50px auto;
        padding: 25px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

        .container {
            width: 100%;

        }

        .summary-name {
            margin: 0 !important;
            margin-bottom: 25px !important;
            padding-bottom: 5px;
            border-bottom: 3px solid #5d1ed7;
            width: fit-content;
        }

        ul {
            grid-gap: 10px;
            margin: 0;
            margin-top: 15px;

            li {
                display: flex;
                align-items: center;
                font-size: 1.25em;
                font-weight: 700;
                padding: 5px 15px;
                height: 50px;
                width: fit-content;
                color: white;
                border-radius: 7.5px;
                background-color: #946be3;
                margin-top: 15px;

                svg.left-icon {
                    margin-right: 25px !important;
                }

            }

            .summary-stars {
                background-color: #ffd45f;
            }

            .summary-works {
                background-color: #6a3ebb;
            }

            .summary-total-stars {
                background-color: #f1c037;
            }

            .summary-total-note {
                background-color: #32c563;
            }
        }

        .notation-grid {
            display: flex;
            flex-direction: column;
        }
    }

    .worked-recently {
        .container {
            display: flex;
        }
    }

    .project-item {
        display: flex;
        flex-direction: column;
        box-sizing: content-box;
        width: 200px;
        height: auto;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    }

    .project-thumbnail {
        position: relative;
        width: 180px;
        height: 180px;
        background-color: #5d1ed7;
        border-radius: 5px;
        margin: 10px;
        color: white;
    }

    .thumbnail-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        font-size: 1.75em;
        font-weight: 800;
        text-transform: uppercase;
        font-style: italic;
    }

    .thumbnail-user {
        position: absolute;
        display: flex;
        align-items: baseline;
        color: white;
        font-weight: 600;
        right: 5px;
        bottom: 5px;
        font-size: 0.9em;
    }

    .thumbnail-user svg {
        font-size: 0.9em;
        margin-right: 5px;
        color: rgb(255, 196, 0) !important;
    }

    .project-title {
        font-size: 1.1em !important;
        font-weight: 400;
        margin: 5px 0 0 10px !important;
    }

    .project-item p {
        font-size: 0.75em;
        margin: 0 10px;
        margin-top: 10px;
        color: #141313 !important;
    }

    .task-item {
        margin: 25px 0;
        width: 300px;
        height: 150px;
        border-radius: 15px;
        overflow: hidden;
        background-color: white;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    }

    .task-content {
        box-sizing: border-box;
        height: 115px;
        padding: 15px;

        padding-bottom: 10px !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .task-title {
        font-size: 1em !important;
        font-weight: 400;
        margin: 0 !important;
        margin-bottom: 2.5px !important;
    }

    .task-description {
        font-size: 0.75em;
        margin: 0;
        height: 40px;
    }

    .task-info {
        display: flex;
        align-items: center;
    }

    .task-info ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-left: 10px;
        color: #5d1ed7;

        li {
            margin: 0;
            margin-left: 2.5px;
        }
    }

    .task-project {
        background-color: #946be3;
        height: 35px;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .task-project-title {
        margin: 0 !important;
        font-size: 1.25em !important;
        color: white;
    }

    .section-separation {
        background-color: #3f3f3f !important;
    }

    .content {

        .content-separation {
            border-color: #6a686d;
        }

        .section-line {
            background-color: #3f3f3f !important;
        }

        .section-title {
            color: #2d3436;
        }

        .summary-container {
            background-color: #2d3436;
            color: white !important;

            h5 {
                color: white;
            }
        }

        .project-item {
            background-color: #141313;
            box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
        }

        .project-title {
            color: white;
        }

        .project-thumbnail {
            box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
        }

        .thumbnail-user {
            color: white;
        }

        .project-item p {
            color: #a6a4ab !important;
        }

        .task-item {
            h1 {
                color: white;
            }

            color: #e4e9f0;
            background-color: #131212;
            box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
        }

        .task-project {
            background-color: #505050;
        }
    }

    .summary-container {
        color: white !important;

        .summary-name {
            color: white;
        }
    }
}
