@import "./pages/auth.scss";
@import "./pages/calendar.scss";
@import "./pages/projects-list.scss";
@import "./pages/admin-groups.scss";
@import "./pages/project.scss";
@import "./pages/commitee.scss";
@import "./pages/home.scss";
@import "./task-modal.scss";

@import "./pages/project-admin/index.scss";
@import "./pages/project-admin/tasks.scss";
@import "./pages/project-admin/add-task.scss";

@import "./pages/tasks/student.tasks.scss";

html {
    background: #f2f4f8;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    width: 100%;
    height: 100%;
}

.project-admin-content {
    width: 90%;
    margin: 50px auto;
}

.sidebar {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 240px;
    background: #2d3436;
    height: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    .logo {
        display: block;
        width: 80% !important;
        margin: 15px auto;
    }

    h1 {
        text-align: center;
        color: white;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 300;
        font-size: 3em;
    }

    a {
        display: block;
        color: #edeaff;
        padding: 8px 0 8px 16px;
        font-family: "Source Sans Pro", sans-serif;
        text-decoration: none;
    }

    a > div {
        display: inline-block;
        width: 16px;
        text-align: right;
        margin-right: 10px;
    }

    a > div > i {
        display: inline-block;
        text-align: right;
        vertical-align: middle;
        --ggs: 0.6;
    }

    & > div.nav-separator {
        border-top: 1px solid rgba(255, 255, 255, 0.192);
        width: 80%;
        margin: 10px auto 0 auto;
    }

    a.nav-header {
        text-transform: uppercase;
        font-weight: 100;
        color: white;
        font-size: 1em;
    }

}


.topbar {
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    background: white;
    height: 64px;
    width: 100%;
    max-width: inherit;
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.2);

    .profile {
        line-height: 64px;
        margin-right: 15px;
        vertical-align: middle;

        a {
            text-decoration: none;
            color: black;

            svg {
                margin-right: 5px;
            }
        }

        button {
            line-height: 64px;
        }
    }

    .notifications {
        line-height: 32px;
        margin-left: 15px;
    }
}

div.page-content {
    margin-left: 240px;
    width: calc(100% - 240px);
    max-width: calc(100% - 240px);

    h2.page-title {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 1.5em;
        height: 50px;
        width: 95%;
        margin: auto;
    }
}

.section-separation {
    margin: 0 !important;
    height: 1.75px;
    background-color: #d3d3d3 !important;
}

.content-container {
    width: 90% !important;
    margin: 25px auto;
}

.task-container {
    width: 95% !important;
    margin: 25px auto;
}

.inner {
    padding: 64px 0 0 0;
    width: 100%;
    display: block;

    .page-inner-body {
        display: block;
        width: 90%;
        margin: 3px auto 0 auto;
    }
}


.content {

    .content-separation {
        margin: 0 !important;
    }

    .section-line {
        height: 1px !important;
        background-color: #bebebe !important;
        margin: 5px 0px 25px 0;
    }

    .section-title {
        font-size: 1.2em !important;
        margin: 0 !important;
        margin-top: 25px !important;
    }

    .index-container {
        width: 95%;
        margin: auto;
    }


}

.submit-button {
    color: white;
    background-color: #5d1ed7;
    line-height: 1em;
    display: flex;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    padding: 15px 25px;
    border: 0;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.submit-button:hover {
    background-color: #5121af;
    transition: 0.1s ease-in-out;
}

.pagination-link.is-current {
    background-color: #5d1ed7;
    border: #5d1ed7;
}

.button {
    background-color: #5d1ed7 !important;
    border: #5d1ed7 !important;
}

.button:hover {
    background-color: #5121af !important;
    border: #5121af !important;
}

.is-light {
    background-color: #eef3fc !important;
}

.is-light:hover {
    background-color: #dfe3e9 !important;
}

.mobile-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    height: 25px;
    cursor: pointer;

    .mobile-btn-line {
        width: 30px;
        border-radius: 25px;
        height: 4px;
        background-color: white;
    }
}

.mobile-close-btn {
    display: none;
    position: absolute;
    top: 32px;
    left: 20px;

    cursor: pointer;

    .mobile-close-btn-line1 {
        position: absolute;

        width: 30px;
        border-radius: 25px;
        height: 4px;
        background-color: white;
        transform: rotate(45deg);
    }

    .mobile-close-btn-line2 {
        position: absolute;
        width: 30px;
        border-radius: 25px;
        height: 4px;
        background-color: white;
        transform: rotate(-45deg);
    }
}

@media screen and (max-width: 1050px) {
    .summary-container ul li {
        font-size: 1em !important;
        height: 40px !important;
    }
}

@media screen and (max-width: 925px) {
    .summary-container .row {
        flex-direction: column;
    }
    .summary-container section {
        margin-bottom: 25px;
    }
}

@keyframes sidebar {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.slide-in {
    animation: sidebar 0.5s forwards;
}

.slide-out {
    animation: sidebar 0.5s backwards;
}

@media screen and (max-width: 700px) {
    .sidebar {
        transform: translateX(-100%);
        padding-top: 50px;
        width: 240px;
        height: 100vh;
        z-index: 250;

        .logo {
            height: 50px !important;
        }
    }

    .mobile-btn {
        display: flex;
    }

    .mobile-close-btn {
        display: flex;
    }

    div.page-content {
        margin-left: 0;
        width: 100%;
    }

    h2.page-title {
        justify-content: center;
    }
}
