.page-student-tasks-tasks {
    .student-tasks-container {
        width: 90%;
        margin: auto;
    }
    .tasks-list {
        .tasks-title-row {
            display: flex;
            width: fit-content;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
        }
    }

    .rotate-right {
        animation: rotate-right 0.25s forwards;
    }
    .rotate-back {
        animation: rotate-back 0.25s forwards;
    }

    .task-section-title {
        text-transform: none !important;
        font-weight: 700 !important;
        margin: 10px 0 !important;
        margin-left: 10px !important;
    }

    .element-task {
        justify-content: flex-start;
        flex-direction: column;
        margin: 0 !important;
        display: none;
    }

    .show-flex {
        display: flex;
    }

    .task {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        display: block;
        width: 75%;
        max-width: 1000px;
        min-width: 650px;
        height: 50px;
        margin-bottom: 10px;

        & > a {
            padding: 0 5px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 50px;
            text-decoration: none;
            color: black;

            & > {
                .task-title-container {
                    width: 200px;

                    .task-title {
                        color: rgb(0, 0, 0);
                        text-transform: none;
                        margin: 0;
                        font-size: 1.25em;
                        font-weight: 700;
                    }
                }

                .task-button {
                    width: 35px;
                    height: 35px;
                    border-radius: 10px;
                    border: 1px solid rgb(125, 125, 125);
                    cursor: pointer;
                }

                .separation-line {
                    width: 2px;
                    height: 60%;
                    background-color: black;
                }

                .task-deadline-box {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    font-weight: 600;
                    width: 100px;
                }

                .calendar-icon {
                    font-size: 1.25em;
                    margin: 0 10px;
                }

                .project-title-container {
                    width: 100px;

                    .project-title {
                        margin: 0 !important;
                        font-size: 1.25em;
                        text-transform: none;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .element-task li {
        transform-origin: top center;
        opacity: 0;
        animation: dropdowntasks 0.15s ease-in-out forwards;
    }

    .no-select {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                         supported by Chrome, Edge, Opera and Firefox */
    }

    @keyframes dropdowntasks {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 50%;
        }
        100% {
            opacity: 100%;
        }
    }
}

@keyframes rotate-right {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes rotate-back {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/*
@media (prefers-color-scheme: dark) {
    .element-task {
        .task {
            background-color: black;

            h2 {
                color: white;
            }

            .separation-line {
                background-color: white;
            }
        }
    }
}
*/
@media (max-width: 825px) {
    .calendar-icon {
        display: none;
    }
}

@media (max-width: 450px) {
    .task-deadline-box {
        display: none !important;
    }

    .first-separation-line {
        display: none !important;
    }
}
